td {font-family:arial,Helveltica,Sans-serif;
font-size:12px;
color:#666666;}
a{
  color: #c00;
}
img{
  width: 100px;
  height: 100px;
}
.logo{
  width: 400px;
  height: 100px;
}
#header{
  width: auto;
  
}
